.home{
    padding: 0px 10px;
    padding-bottom: 100px;
}
.hero{
    max-width: 600px;
    margin: 80px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 30px;
}
.hero h1{
    font-size: max(4vw,36px);
}
.hero p{
    color: #e3e3e3;
    width: 75%;
    line-height: 1.5;
}
.hero form{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    font-size: 20px;
    border-radius: 5px;
    background-color: white;
    padding: 8px;
    width: 80%;
}
.hero input{
    flex: 1;
    padding-left: 10px;
    font-size: 16px;
    border: none;
    outline: none;
}
.hero button{
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    padding: 10px 30px;
    background: #7927ff;
    color: white;
}
.crypto-table{
    max-width: 800px;
    border-radius: 15px;
    margin: auto;
    background: linear-gradient(rgba(84,3,255,0.15), rgba(105,2,153,0.15));

}
.table-layout{
    display: grid;
    grid-template-columns: 0.5fr 2fr 1fr 1fr 1.5fr;
    align-items: center;
    padding: 15px 20px;
    border-bottom: 1px solid #3c3c3c;
}
.market-cap{
    text-align: right;
}
.table-layout:last-child{
   border: none;
}
.table-layout div{
    display: flex;
    align-items: center;
    gap: 10px;
}
.table-layout div img{
    width: 35px;
}
.green{
    color: green;
    text-align: center;
}
.red{
    color: red;
    text-align: center;
}

@media (max-width:768px)
{
    .table-layout{  
    grid-template-columns: 0.5fr 3fr 1fr 1fr ;
    }
    .market-cap{
        display: none;
    }
}

@media (max-width:500px)
{
    .table-layout div img{
        width: 25px;
    }
    .table-layout{
        font-size: 13px;
    }
    .hero form input{
        width: 100px;
    }
}